<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Note</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('topmenu') %>
    <div class="container">
        <h1><%= message %></h1>


        <form action="/newNote" method="POST">
            <button type="submit">New Note</button>
        </form>

        <br>
    </div>
</body>
</html>
