<link rel="stylesheet" href="/topmenu.css">
<div id="navbar" style="margin-top: 5px">
    <button class="navbutton" id="homeButtonNav">Home</button>
    <button class="navbutton" id="shananikiButtonNav">shananiki</button>
    <button class="navbutton" id="privateNoteButtonNav">Private Note</button>
    <button class="navbutton" id="urlShortenerButtonNav">URL Shortener</button>
</div>
<script>
    document.getElementById("homeButtonNav").addEventListener("click", function() {
        window.location.href = "/";
    });
    document.getElementById("shananikiButtonNav").addEventListener("click", function() {
        window.location.href = "https://shananiki.de";
    });
    document.getElementById("privateNoteButtonNav").addEventListener("click", function() {
        window.location.href = "/note";
    });
    document.getElementById("urlShortenerButtonNav").addEventListener("click", function() {
        window.location.href = "/short";
    });
</script>
